
<div class = "jumbotron">
	<h1>Great deals on cool new products, for the price of a Tweet.</h1>
	<h3>We'll see how famous you are on Twitter, and give you a Twiscount score to redeem personal discounts and deals.</h3>

	<div class="input-group">
  		<span class="input-group-addon">@</span>
  			<input type="text" class="form-control" placeholder="twitterusername">
  			      <span class="input-group-btn">
        		<button class="btn btn-primary" id = "gobutton" type="button"> <%= link_to "Go!", mytwiscount_path %></button>
      	</span>
	</div>
	
</div>

